/* Fix user-agent */

* {
  box-sizing: border-box;
}
.cover-heading {
  width: 100%;
  max-width: 100em;
}
.container {
  margin-top: 30px;
  margin-bottom: 30px;

}
html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.trans {
  width: 10%;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.2);
}



html, input {
  font-family:
    "Helvetica Neue bold",
    "HelveticaNeue-Light",
    "Helvetica Neue Light",

    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}




